<app-success-alert *ngIf="itsOk" [name]="sendName"></app-success-alert>
<app-warning-alert *ngIf="itsNotOk"></app-warning-alert>
<div class="page-header">
  <h1>Assignment 1<small>Instructions</small></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
    </div>
  </div>
</div>
<div class="page-header">
  <h1>Exercise</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p><b>Instructions</b></p>
      <p>Enter your name and press the submit button to see the Success alert or click the button and leave empty the input
        to see the warning alert.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label for="inputHelpBlock">Type your name here</label>
      <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" [(ngModel)]="name">
      <span id="helpBlock" class="help-block">Type your name and press the submit button</span>
      <button type="button" class="btn btn-primary pull-right" (click)="checkIfOk()">Submit</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>